# ************************
# Forecast Configuration

[latitude]
45.065262
[longitude]
7.659192
# Timestep in seconds
[timestep]
300
# Horizon in days (between 1 and 6)
[horizon]
2

# ************************

# ************************
# ThingsBoard server configuration

[address]
130.192.85.221
[port]
1883
[token]
E0fgq9HuyviXGEILBeUK

# ************************

# ************************
# Daemon specific configuration

[loopSleepSeconds]
3600

# ************************
