# ************************
# Forecast Configuration

[latitude]
45.065262
[longitude]
7.659192
# Timestep in seconds
[timestep]
300
# Horizon in days (between 1 and 6)
[horizon]
2

# ************************

# ************************
# ThingsBoard server configuration

[address]
x.x.x.x
[port]
1883
[token]
xxxxxxxxxx

# ************************

# ************************
# Daemon specific configuration

[loopSleepSeconds]
3600

# ************************
