# ************************
# Forecast Configuration

# Latitude
[latitude]
45.065262

# Longitude
[longitude]
7.659192

# Forecast resolution (timestep) in seconds
[timestep]
300

# Forecast horizon in days (between 1 and 6)
[horizon]
3

# ************************

# ************************
# ThingsBoard server configuration

# Host with ThingsBoard server
[address]
x.x.x.x

# Port of the MQTT broker of ThingsBoard server
[port]
1883

# Token of the logical device in ThingsBoard server
[token]
xxxxxxxxxxxxxxxxxxxx

# ************************

# ************************
# Daemon specific configuration

# Determines the frequency of the forecasts
[loopSleepSeconds]
3600

# The forecast will be updated starting from 1 hour before sunrise (must be integer)
[sunrise]
06

# The forecast will stop after sunset (must be integer)
[sunset]
22

# Enable sunrise/sunset automatic update (true or false)
[updateEnabled]
true

# ************************
